body {font-family: Arial, Helvetica, sans-serif;}

form {
    border: 3px solid #f1f1f1;
    width: 33%;
    margin: 15px auto;
    display: block;
}

input, button {
    width: 70%;
    padding: 12px 20px;
    margin: 35px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    opacity: 0.8;
}

h2, p {
    width: 70%;
    margin: 15px auto;
    display: block;
}

p {
    font-size: 11px;
}

a {
    cursor: pointer;
    color: cadetblue;
}

.message {
    font-size: 18px;
    color: greenyellow;
}